@{
    ViewData["Title"] = "Dashboard";
}


    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

        <main role="main" class="inner text-center cover mb-5">
            <h1 class="cover-heading">Ejercicio Test para Pasantia</h1>
            <p class="lead">
                Se pide realizar una pequeña aplicacion web que manipule una registros en base de datos. Las entidades que deben conforman al sistema son: "Articulos" y "Facturas".
                A partir de dichas entidades la aplicacion web podra Crear, Actualizar, Ocular(delete) y Listar todos los registros que desee.
            </p>
        </main>

        <h3 class="text-primary mb-2 text-center">Tecnologias Utilizadas</h3>
        <hr/>

        <div class="d-flex flex-wrap">
            <div class="shadow rounded card p-2 m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/html5-css3-js.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Diseño web con Html, Css y Javascript</p>
                </div>
            </div>
            <div class="shadow rounded card p-2 m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/Bootstrap-Logo.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Diseño Responsibe gracias a Bootstrap@4</p>
                </div>
            </div>
            <div class="shadow rounded card p-2 m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/jquery-logo.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Libreria - javascript JQuery. Con valor agreado la tecnología Ajax</p>
                </div>
            </div>
            <div class="shadow rounded card p-2 m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/diseno-web-font-awesome.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Recursos compartidos (Iconos)</p>
                </div>
            </div>
            <div class="shadow rounded card p-2 m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/sweetalert.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Notificaciones con diseños personalizados y atractivos</p>
                </div>
            </div>
            <div class="shadow rounded card p-2 m-2" style="width: 18rem;">
                <img class="card-img-top" src="/images/mvc.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Framework de C# Asp.net Core (MVC)</p>
                </div>
            </div>
        </div>

        <footer class="mastfoot mt-auto text-center">
            <div class="inner">
                <p>Codigo Fuente en  <a href="https://github.com/KevinKaliH/PruebaPasantiaApp">Github</a>, desarrollado por <span class="text-dark font-weight-bold">Kevin Josué Hernández Gómez</span></p>
            </div>
        </footer>
    
</div>